# ------------------
# INTERMEDIATE FILES
# ------------------
*.HEX
*.ZSM
*.PRN

-------------------------
# DOCUMENTATION GENERATOR
# -----------------------
gdoc.com
GDOC.COM

# -----------------------
# PROJECT FILES & FOLDERS
# -----------------------
backup/
